.ssh/id_rsa
.ssh/known_hosts
.ssh/known_hosts*
.ssh/authorized_keys*
*.sw*
.sw*
.m2/repository
.xmonad/xmonad-x86_64-darwin
.xmonad/xmonad-x86_64-linux
.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o
.vim/.netrwhist
.vim/bundle/*
.*.sw?
*sandbox/
schema.rb
.DS_Store
.*.sw?
